In [1]:
%load_ext sql

In [2]:
%sql sqlite:///sqlite-dvdrental.db

In [3]:
%%sql

SELECT *
FROM film
LIMIT 1

 * sqlite:///sqlite-dvdrental.db
Done.

[(1, 'ACADEMY DINOSAUR', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', '2006', 1, None, 6, 0.99, 86, 20.99, 'PG', 'Deleted Scenes,Behind the Scenes', '2021-03-06 15:52:00')]

In [4]:
import sqlalchemy
import pandas as pd

### Structure of Connection String for SQLite

```python
"sqlite:///filename.db"
```

In [5]:
con = sqlalchemy.create_engine("sqlite:///sqlite-dvdrental.db")

In [6]:
df = pd.read_sql("""
    SELECT * 
    FROM film
    WHERE release_year = 2006
    """
    , con)

In [7]:
df.head(3)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2021-03-06 15:52:00
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2021-03-06 15:52:00
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2021-03-06 15:52:00

In [8]:
from dotenv import dotenv_values

In [9]:
config = dotenv_values("dotenv")

### Structure of Connection String for PostgreSQL

```python
"postgresql+psycopg2://user:password@hostname/databasename"
```

You can use Python f-string to embed variables in the sting

In [10]:
con = sqlalchemy.create_engine(f"postgresql+psycopg2://postgres:{config['PW']}@localhost/dvdrental")

In [11]:
df = pd.read_sql("""
    SELECT * 
    FROM customer  
    WHERE store_id = 1 """
    , con)
df.head(3)

,customer_id,store_id,first_name,last_name,email,address_id,activebool,create_date,last_update,active
0,524,1,Jared,Ely,jared.ely@sakilacustomer.org,530,True,2006-02-14,2013-05-26 14:49:45.738,1
1,1,1,Mary,Smith,mary.smith@sakilacustomer.org,5,True,2006-02-14,2013-05-26 14:49:45.738,1
2,2,1,Patricia,Johnson,patricia.johnson@sakilacustomer.org,6,True,2006-02-14,2013-05-26 14:49:45.738,1

In [12]:
%sql postgresql+psycopg2://postgres:{config['PW']}@localhost/dvdrental

In [13]:
%%sql

SELECT *
FROM film
LIMIT 1

 * postgresql+psycopg2://postgres:***@localhost/dvdrental
   sqlite:///sqlite-dvdrental.db
1 rows affected.

[(133, 'Chamber Italian', 'A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria', 2006, 1, 7, Decimal('4.99'), 117, Decimal('14.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'chamber':1 'fate':4 'husband':11 'italian':2 'monkey':16 'moos':8 'must':13 'nigeria':18 'overcom':14 'reflect':5")]